.navsection{
    display: flex;
    justify-content: space-between;  
}
.navright{
    display: flex;
    margin-left: 120px;
    margin-top: 30px;
}
.navright a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}
.navright li{
    list-style: none;
}
.navleft{
    margin-right: 100px;
    margin-top: 30px;
    background-color: #C70039;
    padding: 10px 30px;
}
.navleft .fa-sign-out-alt{
    color: white;
}
.navleft a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/* Header section another style  */

.sec2{
    display: flex;
    width: 50%;
}
h1{
    font-family: 'Poppins', sans-serif;
}
.top-container-right{
    padding-left: 120px;
    padding-top: 40px;
    font-size: 30px;
    color: white;
}
.top-container-left img{
    padding-top: 20px;
    padding-left: 350px;
    width: 150%;
}
.info .fa-arrow-right{
    color: white;
    background-color: #C70039;
    padding: 5px 5px;
}
.info a{
    text-decoration: none;
    background-color: #C70039;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 14px;
}
.header-content{
    background-image: url(images/image1.png); 
}

/* article style  */

.blogimg img{
    width: 247px;
    height: 180px;
    border-radius: 20px;
    padding: 10px 10px;
   
}
.bloginfo{
    font-family: 'Open Sans', sans-serif;
    height: 220px;
    padding: 0px 10px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 200px;
}
.blog{
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 10px 10px 40px #ccc;
    margin: 16px 20px;
    
}

/* sponsors style  */

.sponsortitle{
    font-size: 30px;
    font-family: Ubuntu,Arial,sans-serif;
    color: #173562;
    display: flex;
    justify-content: center;
}
.sponsors{
    width: 448px;
    margin: 50px 450px;
}
.sponsors a:hover{
    padding: 8px;
}