/* -------- CSS Style --------  */

body{
    margin: 0;
}

/* nav section style  */


.navsection{
    display: flex;
    justify-content: space-between;  
}
.navright{
    display: flex;
    margin-left: 120px;
    margin-top: 30px;
}
.navright a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    font-family: 'Open Sans', sans-serif;
}
.navright li{
    list-style: none;
}
.navleft{
    margin-right: 100px;
    margin-top: 30px;
    background-color: #C70039;
    padding: 10px 30px;
}
.navleft .fa-sign-out-alt{
    color: white;
}
.navleft a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

/* Nav style end  */

/* Header section another style  */

.sec2{
    display: flex;
    width: 50%;
}
h1{
    font-family: 'Poppins', sans-serif;
}
.top-container-right{
    padding-left: 120px;
    padding-top: 40px;
    font-size: 30px;
    color: white;
}
.top-container-left img{
    padding-top: 20px;
    padding-left: 350px;
    width: 150%;
}
.info .fa-arrow-right{
    color: white;
    background-color: #C70039;
    padding: 5px 5px;
}
.info a{
    text-decoration: none;
    background-color: #C70039;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 4px 14px;
}
.header-content{
    background-image: url(images/image1.png); 
}

/* Header Section End  */

/* article style  */

.blogimg img{
    width: 247px;
    height: 180px;
    border-radius: 20px;
    padding: 10px 10px;
   
}
.bloginfo{
    font-family: 'Open Sans', sans-serif;
    height: 220px;
    padding: 0px 10px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 200px;
}
.blog{
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 10px 10px 40px #ccc;
    margin: 16px 20px; 
}

/* Article Style End  */

/* News Content Style */

.newshighlight h1{
    padding-left: 16px;
    font-size: 40px;
    font-family: Ubuntu,Arial,sans-serif;
}
.newsalbums{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.newsalbum a{
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}
.newsarticle{
    padding: 0px 120px;
}
.newsphoto img{
    width: 300px;
    height: 200px;
    padding: 0px 120px;
}
.newsalbum{
    margin-top: 30px;
}
/* News content style end  */

/* Highlight Content Style  */

.highlight{
    display: flex;
    margin: 50px 40px;
    background-image: url(images/image1.png);
}
.highlight-content{
    font-size: 20px;
    margin-left: 80px;
    width: auto;
    color: white;
}
.highlight img{
    margin-left: 280px;
    width: 400px;
}

/* Highlight Content Style End  */

/* sponsorsstyle  */

.sponsortitle{
    font-size: 30px;
    font-family: Ubuntu,Arial,sans-serif;
    color: #173562;
    display: flex;
    justify-content: center;
}
.sponsors{
    width: 448px;
    margin: 50px 450px;
}
.sponsors a:hover{
    padding: 8px;
}

/* Sponsor style end  */

/* Footer Section Style  */

.footer-img img{
    width: 300px;
    margin: 0 518px;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.icon{
    margin-right: 10px; 
}
.copyright{
    display: flex;
    justify-content: center;
    font-family: Ubuntu,Arial,sans-serif;
}
/* Footer style end  */

/*-------- Media Queries -------- */

/* Mobile Device style */

@media only screen and (max-width:688px) {
    .navsection{
        display: flex;
        justify-content: space-between;  
    }
    .navright{
        display: block;
        margin-left: 5px;
        margin-top: 30px;
    }
    .navright a{
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    .navright li{
        list-style: none;
    }
    .navleft{
        margin-right: 10px;
        margin-top: 30px;
        background-color: #C70039;
        padding: 50px 10px;
    }
    .navleft .fa-sign-out-alt{
        color: white;
    }
    .navleft a{
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }
    .sec2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
    }
    h1{
        font-family: 'Poppins', sans-serif;
    }
    .top-container-right{
        padding-left: 14px;
        padding-top: 25px;
        font-size: 16px;
        color: white;
    }
    .top-container-left img{
        padding-top: 40px;
        padding-left: 85px;
        width: 150%;
    }
    .info a{
        text-decoration: none;
        background-color: #C70039;
        color: white;
        font-family: 'Open Sans', sans-serif;
        padding: 2px 4px;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        margin: 20px 40px;
    }
    .blog{
        border: 1px solid #ccc;
        border-radius: 16px;
        box-shadow: 10px 10px 40px #ccc;
        margin: 16px 1px;  
    }
    .newsalbums{
        grid-template-columns: repeat(1, 1fr);
    }
    .newsarticle{
        padding: 0px 30px;
    }
    .newsphoto img{
        width: 300px;
        height: 200px;
        padding: 0px 20px;
    }
    .newsalbum{
        margin-top: 10px;
    }
    .highlight{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 8px;
        background-image: url(images/image1.png);
    }
    .highlight-content{
        font-size: 20px;
        margin-left: 16px;
        width: auto;
        color: white;
    }
    .highlight img{
        margin-top: 20px;
        margin-left: 20px;
        width: 280px;
    }
    .sponsortitle{
        font-size: 30px;
        font-family: Ubuntu,Arial,sans-serif;
        color: #173562;
        display: flex;
        justify-content: center;
    }
    .sponsors{
        width: 200px;
        margin: 40px 130px;
    }
    .sponsors a:hover{
        padding: 5px;
    }
    .footer-img img{
        width: 200px;
        margin: 0 55px;}

        .social-icons{
            display: flex;
            justify-content: center;
        }
        .icon{
            margin-right: 5px; 
        }
        .copyright{
            display: flex;
            margin-left: 25px;
            justify-content: center;
            font-family: Ubuntu,Arial,sans-serif;
        }
}

/* Mobile Device style End  */

/* Tablet Devices style */


@media only screen and (min-width: 688px) and (max-width:992px) {

    .navsection{
        display: flex;
        justify-content: space-between;  
    }
    .navright{
        display: block;
        margin-left: 5px;
        margin-top: 30px;
    }
    .navright a{
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    .navright li{
        list-style: none;
    }
    .navleft{
        margin-right: 40px;
        margin-top: 30px;
        background-color: #C70039;
        padding: 40px 20px;
    }
    .navleft .fa-sign-out-alt{
        color: white;
    }
    .navleft a{
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
    }
    .sec2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
    }
    h1{
        font-family: 'Poppins', sans-serif;
    }
    .top-container-right{
        padding-left: 30px;
        padding-top: 25px;
        font-size: 16px;
        color: white;
    }
    .top-container-left img{
        padding-top: 40px;
        padding-left: 140px;
        width: 150%;
    }
    .info a{
        text-decoration: none;
        background-color: #C70039;
        color: white;
        font-family: 'Open Sans', sans-serif;
        padding: 2px 4px;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 40px;
    }
    .blog{
        border: 1px solid #ccc;
        border-radius: 16px;
        box-shadow: 10px 10px 40px #ccc;
        margin: 16px 1px;
        padding-right: 20px;
        
    }
    .blogimg img{
        width: 280px;
        height: 180px;
        border-radius: 20px;
        padding: 10px 10px;
    }   
    .newsalbums{
        grid-template-columns: repeat(2, 1fr);
    }
    .newsarticle{
        padding: 0px 30px;
    }
    .newsphoto img{
        width: 300px;
        height: 200px;
        padding: 0px 20px;
    }
    .newsalbum{
        margin-top: 10px;
    }
    .highlight{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 50px 8px;
        background-image: url(images/image1.png);
    }
    .highlight-content{
        font-size: 20px;
        margin-left: 16px;
        width: auto;
        color: white;
    }
    .highlight img{
        margin-top: 20px;
        margin-left: 20px;
        width: 280px;
    }
    .sponsortitle{
        font-size: 30px;
        font-family: Ubuntu,Arial,sans-serif;
        color: #173562;
        display: flex;
        justify-content: center;
    }
    .sponsors{
        display: flex;
        width: 280px;
        margin: 40px 190px;
    }
    .sponsors a:hover{
        padding: 5px;
    }
    .footer-img img{
        width: 200px;
        margin: 0 270px;}

        .social-icons{
            display: flex;
            justify-content: center;
        }
        .icon{
            margin-right: 5px; 
        }
        .copyright{
            display: flex;
            margin-left: 25px;
            justify-content: center;
            font-family: Ubuntu,Arial,sans-serif;
        }
}

/* Tablet device style end  */

/* -------- CSS Style End -------- */